*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* Custom Properties */
:root {
  /* Font Families */
  --ff-primary: "Sen", sans-serif;
  --ff-secondary: "Source Sans Pro", sans-serif;
  /* Font Weight */
  --fw-reg: 400;
  --fw-bold: 900;
  /* Font Sizes */
  --fs-xl: clamp(3rem, 1rem + 10vw, 7rem);
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.05rem;
  --fs-body: 1rem;
  /* Global Colors */
  --clr-bg: hsl(256, 97%, 13%);
  --clr-white: hsl(226, 70%, 88%);
  --clr-light: hsl(232, 95%, 74%);
  --clr-dark: hsl(254, 72%, 35%);
  --clr-dark-alt: hsl(254, 43%, 45%);
  --clr-accent: hsl(342, 100%, 67%);
  --clr-accent-alt: hsl(174, 100%, 74%);
  /* Box Shadows */
  --bs: 0.2em 0.1em 0 var(--clr-light), -0.2em -0.1em 0 var(--clr-accent-alt),
    0 0 2em var(--clr-light);
  /* Border Radius */
  --br-rounded: 0.55em;
  --br-circle: 10em;
  /* Transitions */
  --transition: all 0.35s ease;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* Utility Classes */
.title-xs,
.title-sm,
.title-lg {
  font-family: var(--ff-reg);
  font-weight: var(--fw-reg);
}
.title-sm {
  font-size: var(--fs-h3);
}
.title-xs {
  font-size: var(--fs-h4);
}

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-white);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1;
  /* Flex Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* Animated Background */
  background: linear-gradient(
    -45deg,
    var(--clr-dark),
    var(--clr-bg),
    var(--clr-dark-alt)
  );
  background-size: 400% 400%;
  animation: gradient-animation 15s ease-in-out infinite;
}

@media (min-width: 1100px) {
  .container__main {
    display: grid;
    grid-template-columns: min(12em, 25%) 1fr;
  }
  .container__wrapper--left {
    background: var(--clr-dark);
    display: flex;
    justify-content: center;
  }

  .container__wrapper--left--fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: var(--fw-bold);
}
:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

a {
  color: var(--clr-accent-alt);
  font-weight: var(--fw-bold);
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent);
}

/* Buttons */
.btn {
  display: inline-block;
  will-change: all;
  padding: 1em 3.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-shadow: 1px 1px 1px var(--clr-white);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: var(--transition);
  border-radius: var(--br-rounded);
  /*  */
  box-shadow: 0.2em 0.1em 0 var(--clr-light),
    -0.2em -0.1em 0 var(--clr-accent-alt), 0 0 2em var(--clr-light);
}
.btn:hover {
  color: var(--clr-bg);

  transform: translateY(-0.2em);
  text-shadow: -1px 1px 1px var(--clr-white);
  box-shadow: -0.3em 0.1em 0 var(--clr-accent-alt),
    0.3em 0.1em 0 var(--clr-light), 0 0 3em var(--clr-dark);
}

/* links */

/* Typography */
body,
p,
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* Text Shadow on hover transitions */
.logo__text,
.section__title--intro-name {
  text-shadow: -3px -2px 1px var(--clr-accent-alt);
  transition: var(--transition);
  will-change: all;
}
.logo__text:hover,
.section__title--intro-name:hover {
  text-shadow: 3px 1px 0px var(--clr-accent-alt);
}

.section__title {
  margin-bottom: 0.25em;
}

/* .section__title--intro,
.service__intro {
  font-family: var(--ff-reg);
  font-weight: var(--fw-reg);
  font-size: var(--fs-h3);
} */

.section__title--intro-name {
  color: var(--clr-accent);
  font-size: var(--fs-xl);
}

.section__title--intro-name {
  margin-top: 0.25em;
}
.section__title--intro strong {
  display: block;
}

.section__title--intro-about {
  max-width: 70ch;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}
.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
  padding: 0.25em;
}
.section__subtitle-work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .section__title--intro-name {
    margin-bottom: 0;
    margin-top: 0.05em;
  }
}

/* header styling */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.logo {
  color: var(--clr-accent);
  margin-bottom: 1em;
  margin-top: 0.5em;
  padding: 0 2em;
}

/* Header Navigation */
.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.unstyled__list--nav {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open {
  overflow: hidden;
}

.nav-open .nav {
  transform: translateX(0);
  opacity: 1;
}
.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

@media (min-width: 1100px) {
  .logo {
    padding-left: 0;
  }
  .nav-toggle {
    display: none;
  }
  .nav {
    transform: translateX(0%);
    background: none;
    color: currentColor;
    position: relative;
    opacity: 1;
  }

  .unstyled__list--nav {
    display: block;
  }

  .nav__item + .nav__item {
    margin-top: 1em;
  }
  .nav__link {
    font-size: var(--fs-h3);
    color: var(--clr-light);
  }
}

/* Hamburger */

.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent-alt);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: var(--transition);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* Intro Section */

.intro {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.intro__img--wrapper {
  position: absolute;
  top: 0.5em;
  right: 2.2em;
  background-color: var(--clr-dark);
  mix-blend-mode: screen;
}

.intro__img--wrapper::before,
.intro__img--wrapper::after {
  content: "";
  position: absolute;
  display: block;
  offset: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  border-radius: var(--br-circle);
}
.intro__img--wrapper::before {
  left: -2px;
  box-shadow: 2px 0px 0 var(--clr-accent-alt);
  margin-left: 13px;
  opacity: 0.65;
}
.intro__img--wrapper::after {
  right: 0;
  box-shadow: -2px -2px 0 var(--clr-accent);
  opacity: 0.45;
  margin-right: 10px;
}

.intro__img {
  border-radius: var(--br-circle);
  width: 125px;
  box-shadow: var(--bs);
}

.intro__btn {
  margin-top: 1em;
  width: max-content;
}

@media (min-width: 800px) {
  .intro {
    padding-top: 7.5em;
    padding-bottom: 7.5em;
    /* Grid Layout */
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: minmax(300px, 10%) 1fr;
  }

  .section__title--intro-about {
    grid-column: 1/3;
    margin-top: 1em;
  }

  .intro__img--wrapper {
    grid-row: 1/3;
    position: relative;
    right: 0em;
    top: 0;
  }

  .intro__img {
    width: 300px;
  }
}

/* My Services Section */
.my-services {
  background-size: cover;
  background-blend-mode: multiply;
  text-align: center;
  /*  */
  position: relative;
  z-index: 1;
  transition: var(--transition);
  box-shadow: inset 0px 0px 100px var(--clr-bg), 10px 10px 10px var(--clr-dark);
}

.my-services:hover {
  box-shadow: inset 0px 0px 100px var(--clr-bg),
    10px 10px 10px var(--clr-dark-alt);
}

.my-services::after {
  content: "";
  position: absolute;
  top: 0em;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: 0 -10px 140px 0px var(--clr-dark), 0 10px 40px 0px var(--clr-bg),
    0 0px 440px 0px var(--clr-dark);
  opacity: 0.7;
  z-index: -1;
}

.section__title--services {
  color: var(--clr-accent-light);
  position: relative;
}
.section__title--services:after {
  content: "";
  display: block;
  width: 3em;
  height: 5px;
  margin: 0.5em auto 1em;
  background: var(--clr-accent-alt);
  opacity: 1;
}

/* Services Content */
.services {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}

.service {
  gap: 1em;
  display: flex;
  flex-flow: column wrap;
  /*  */
  background-color: var(--clr-dark);
  border-radius: var(--br-rounded);
  position: relative;
  z-index: 0;
}

.service__copy {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  padding: 1.5em 2.5em;
}
.service__copy--intro {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--clr-accent-alt);
  margin-bottom: 0.65em;
}
.service__copy--project {
  margin-bottom: 0.5em;
}
.service__skills {
  list-style-type: none;
  display: flex;
  padding: 0 0;
  justify-content: space-around;
  font-size: var(--fs-h4);
  color: var(--clr-light);
}

.service__content {
  display: flex;
  order: -1;
  flex-flow: column wrap;
}
.service__content--image {
  border-top-left-radius: 0.55em;
  border-top-right-radius: 0.55em;
  margin-bottom: 1em;
}

.service__content--links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.service__link--btn {
  padding: 0.75em 1.25em;
  font-size: 0.75em;
  margin-top: 1.5em;
}

.service + .service {
  margin-top: 3em;
}

@media (min-width: 800px) {
  /* Grid Styling / Position Styling */
  .service {
    display: grid;
    grid-template-areas: "copy content";
    grid-template-columns: minmax(350px, 5em) 1fr;
    padding: 3em 2.5em;
    background-color: inherit;
  }
  .service:nth-child(odd) {
    grid-template-areas: "content copy";
    grid-template-columns: 1fr minmax(350px, 5em);
  }
  .service:nth-child(odd) .service__copy {
    text-align: right;
  }
  .service__copy {
    grid-area: copy;
    text-align: left;
  }
  .service__content {
    grid-area: content;
  }
  /* Blobs behind content Styling */
  .service:nth-child(odd)::before,
  .service:nth-child(even)::before {
    content: "";
    position: absolute;
    height: 30em;
    width: 30em;
    z-index: -1;
    background-color: var(--clr-dark);
    /* border-radius: 100% 100% 0% 100% / 100% 100% 0% 100%; */
    /* animation: morphing 50s infinite; */
    box-shadow: 0 -10px 140px 0px var(--clr-dark), 0 10px 40px 0px var(--clr-bg),
      0 0px 440px 0px var(--clr-dark);
    opacity: 0.45;
  }
  .service:nth-child(odd)::before {
    border-radius: 100% 100% 0% 100% / 100% 100% 0% 100%;
    right: 0;
    top: -1.5em;
    animation: morphing-odd 50s infinite;
  }
  .service:nth-child(even)::before {
    top: -1.5em;
    background-color: var(--clr-dark-alt);
    border-radius: 100% 100% 100% 0% / 100% 100% 100% 0%;
    animation: morphing-even 25s infinite;
  }

  .service:nth-child(odd) .service__content--image {
    transform: rotate(-1deg);
  }
  .service:nth-child(even) .service__content--image {
    transform: rotate(1deg);
  }
}

/* About Me Section */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    column-gap: 2em;
  }
  .section__title--about {
    grid-area: title;
  }
  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work */
.my-work {
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
}
.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.75;
}

/* Footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}
.unstyled__list--social {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}
.social-list__link {
  padding: 0.5em;
}

/* Individual Portfolio Item Styles */
.portfolio-item-individual {
  padding: 0 2em 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}
.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Keyframes and Animations */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes morphing-odd {
  0% {
    border-radius: 100% 100% 0% 100% / 100% 100% 0% 100%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    transform: translateX(100px);
    transform: translateY(100px);
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    transform: translateX(-100px);
    transform: translateY(50px);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

@keyframes morphing-even {
  0% {
    border-radius: 100% 100% 100% 0% / 100% 100% 100% 0%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    transform: translateX(-100px);
    transform: translateY(-20px);
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    transform: translateX(100px);
    transform: translateY(-30px);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    transform: translateX(0px);
    transform: translateY(0px);
  }
}
