body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr auto;
  grid-gap: 1em;
  grid-template-areas:
  'header'
  'main'
  'footer';
}

  .intro, .portfolio__items, .about-me {
  @extend .maxContainerWidths
}

header {
  grid-area: header;
}

main {
  grid-area:main;

}
footer {
  grid-area:footer;
}

header,
main,
footer {
  grid-column: 1 / span 4;
}





