/* General Styles */

body {
  background-color: var(--clr-bg-violet);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'header'
  'main'
  'footer';
}

header {
  grid-area: header;
}

main {
  grid-area:main;

}
footer {
  grid-area:footer;
}

header,
main,
footer {
  grid-column: 1 / span 4;
}

.wrapper {
  @include containerWidths;
}

footer,section {
  position: relative;
  z-index: 1;
  padding-bottom:5rem;
}

footer::before, footer::after ,section::before, section::after {
  @include pseudoEls;
  height: 100%;
  width: 100%;
  z-index: -1;

}
footer::after, section::after {
  @include star-bg;
}



